body {
  border: dashed 1px red;
  margin: 0;
  width: 1920px;
  height: 1080px;
  
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}

.logo,.menu {
  display: inline-block;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:last-child {
  padding-right: 0;
}

.menu__item {
  padding: 0 13px;
  border: dashed 1px red;
  font: 500 18px/21px "Roboto", arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
  border: dashed 1px red;
}

.logo__circle_color_dark_blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px "PT serif", arial, helvetica, sans-serif;
  margin-right: 63%;
  border: dashed 1px red;
}

.main-content__title {
  font: bold 66px/87px "PT serif", arial, helvetica, sans-serif;
}

.main-content__description {
  font: 400 22px/26px "Roboto", arial, helvetica, sans-serif;
}
