#menu__toggle {
  opacity: 0;
}

.hamburger-menu {
  display: none;
}

body {
  margin: 0;
  min-width: 319px;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  margin-bottom: 131px;
  display: flex;
  justify-content: space-between;
}

.logo,
.menu {
  display: inline-block;
}

.menu {
  display: flex;
  align-items: center;
  padding: 7px 12px 0 0;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  color: #000;
  text-decoration: none;
  font: 500 0.9375vw/1.0937vw Roboto, arial, helvetica, sans-serif;
  transition: opacity 0.5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.logo__circle {
  position: absolute;
  left: 4px;
  top: 49%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark_blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 12px;
  top: 55%;
  background: #c8dbfb;
}

.logo {
  position: relative;
  padding: 38px 0 40px 48px;
  font: 700 24px/32px pt_serifbold, arial, helvetica, sans-serif;
  color: #000;
}

.main {
  padding-left: 3px;
  padding-right: 5px;
}

.main__image {
  background: url("img/frame.svg") top right no-repeat;
  min-height: 657px;
  background-size: 50.5%;
}

.main__text {
  width: 50%;
  margin: 0;
  padding-top: 74px;
}

.main__title {
  font: 3.4375vw/4.5312vw pt_serifbold, arial, helvetica, sans-serif;
  color: #000;
  margin: 0 0 40px 0;
}

.main__description {
  font: 400 1.1458vw/1.3541vw Roboto, arial, helvetica, sans-serif;
  color: #000;
  margin: 0 286px 43px 0;
}

.main__button {
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 17px 33px 17px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity 0.5s;
}

.main__button:hover {
  opacity: 0.5;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

@media (max-width: 1600px) {
  .wrapper {
    width: 70%;
  }

  .main__description {
    margin: 0 161px 43px 0;
  }
}

@media (max-width: 1366px) {
  .header {
    margin-bottom: 85px;
  }

  .wrapper {
    width: 69%;
  }

  .logo {
    padding: 38px 0 40px 51px;
  }

  .logo__circle {
    left: 7px;
  }

  .logo__circle_color_blue {
    left: 15px;
  }

  .menu__item,
  .menu__item_active {
    font-size: 1.0248vw;
    line-height: 1.1713vw;
  }

  .menu {
    padding: 9px 12px 0 0;
  }

  .menu__item_active::after,
  .menu__item::after,
  .menu__item:hover::after {
    height: 2px;
  }

  .main {
    padding-right: 5px;
  }

  .main__text {
    padding-top: 18px;
    padding-left: 3px;
  }

  .main__description {
    font-size: 1.3177vw;
    line-height: 1.5373vw;
    font-weight: 500;
    margin: 0 72px 43px 0;
  }

  .main__image {
    background-size: 55%;
  }

  .main__title {
    margin-bottom: 43px;
    font-size: 3.6603vw;
    line-height: 4.7584vw;
  }

  .main__button {
    font-size: 1.0248vw;
    line-height: 1.1713vw;
    padding: 14px 22px 12px 16px;
  }
}

@media (max-width: 1024px) {

  .wrapper { width: 92%; }

  .logo {
    padding-left: 49px;
  }

  .menu {
    padding: 9px 5px 0 0;
  }

  .menu__item,
  .menu__item_active {
    font-size: 1.3671vw;
    line-height: 1.5625vw;
  }

  .main {
    padding-left: 2px;
  }

  .main__title {
    font-size: 4.8828vw;
    line-height: 6.4453vw;
    margin-bottom: 40px;
  }

  .main__description {
    font-size: 1.7578vw;
    line-height: 2.0507vw;
    margin: 0 72px 41px 0;
  }

  .main__button {
    font-size: 1.3671vw;
    line-height: 1.5625vw;
    padding: 14px 25px 12px 14px;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .header {
    margin-bottom: 28px;
  }

  .menu {
    display: none;
  }

  .main__image {
    background: url(img/frame.svg) top center no-repeat;
    background-size: 74%;
  }

  .main__text {
    width: 100%;
    margin: auto;
    padding-top: 65%;
    padding-left: 0;
    text-align: center;
  }

  .main__title {
    font-size: 5.2083vw;
    line-height: 7vw;
    width: 68%;
    margin: auto auto 20px;
  }

  .main__description {
    text-align: center;
    width: 38%;
    margin: auto auto 20px;
    font-size: 2.2135vw;
    line-height: 2.6041vw;
  }

  .main__button {
    font-size: 1.8229vw;
    line-height: 2.0833vw;
  }

  .logo__text {
    display: none;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 28px;
    left: 87%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056ec;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 83%;
    margin: 0;
    padding-left: 0;
    padding-top: 174px;
    list-style: none;
    text-align: center;
    background-color: #e5e5e5;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 8vw;
    line-height: 9.6vw;
    font-weight: 500;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #cfd8dc;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}

@media (max-width: 650px) {
  .main__text { padding-top: 70%; }
}

@media (max-width: 425px) {
  .main__text { padding-top: 70%; }
}

@media (max-width: 375px) {
  .wrapper { width: 100%; }

  .header {
    margin-bottom: 9px;
  }

  .logo__circle {
    left: 24px;
  }

  .logo__circle_color_blue {
    left: 32px;
  }

  .main {
    text-align: center;
    padding: 0;
  }

  .main__text {
    width: 98%;
    margin: auto;
    padding-top: 260px;
    padding-left: 5px;
  }

  .main__title {
    width: 98%;
    font-size: 8vw;
    line-height: 10.6666vw;
    margin: auto auto 35px;
    text-align: center;
  }

  .main__description {
    font-size: 4.2666vw;
    line-height: 5.0666vw;
    text-align: center;
    width: 70%;
    margin: auto auto 26px;
  }

  .main__button {
    font-size: 3.7333vw;
    line-height: 4.2666vw;
  }

  .main__image {
    background-size: 75%;
    min-height: 579px;
  }

  .menu__box { height: 74%; }
}
