body{
	font-family: Helvetica;
}
.logo{
	font-family: Roboto;
}
.menu__item{
	color: green;
}
.menu__item_color_purple{
	color: purple;
}
.menu__item_color_red{
	color: red;
}
.main-content__title{
	font-family: Roboto;
	color: #4212AF;
}
.main-content__description{
	color: blue;
	font-weight: bold;
}
.main-content__button{
	color: red;
}
button{
	background: #FFDE40;
}